.container::ng-deep * {
  align-items: center !important;
}

mat-grid-tile {
  background: lightblue;
}

.title {
  padding: 5px;
  margin-left: 25px;
  text-decoration: underline;
  text-decoration-color: #FFD701 ;
  text-decoration-thickness: 5px;
}