<div class="title">
  <h2>Available Categories</h2>
</div>

<div>
  <mat-divider></mat-divider>
  <p>Categories with observable</p>
</div>
<div>
  <div *ngIf="categories$ | async as categories">
  <div *ngFor="let category of categories">
    <p>{{category.id}} -> {{ category.type }}</p>
  </div>
</div>
</div>

<div>
  <mat-divider></mat-divider>
  <div>
    <p>Signal trial using service</p>
    <div>
      <ul>
        @for (item of cat(); track $index) {
          <li>{{item.id}}-{{item.type}}</li>
        }
      </ul>
    </div>
  </div>
</div>